<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>悦听</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h2>hahahahahahhahahahahah</h2>
    <div class="wrap">
        <div class="play_wrap" id="player">
            <div class="search_bar">
                <img src="images/player_title.png" alt="">
                <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" >
                <a href="javascript:;" @click="searchMusic"></a>
            </div>
            <div class="center_con">
                <div class='song_wrapper' ref='song_wrapper'>
                    <ul class="song_list">
                      <li v-for="item in musicList">
                        <!-- 点击放歌 -->
                        <a href="javascript:;" @click="playMusic(item.id)"> </a>
                        <b>{{ item.name }}</b>
                        <span v-if="item.mvid!=0"  @click="playMV(item.mvid)">
                          <i ></i>
                        </span>
                      </li>
          
                    </ul>
                    <img src="images/line.png" class="switch_btn" alt="">
                </div>
                <div class="player_con" :class="{playing:isPlaying}">
                    <img src="images/player_bar.png" class="play_bar" />
                    <!-- 黑胶碟片 -->
                    <img src="images/disc.png" class="disc autoRotate" />
                    <img :src="musicCover" class="cover autoRotate" />
                </div>
                <div class="comment_warp">
                    <h5 class="title">热门留言</h5>
                    <div class="comment_list">
                        <dl v-for="item in hotComments">
                            <dt><img :src="item.user.avatarUrl" alt=""></dt>
                            <dd class="name">{{ item.user.nickname }}</dd>
                            <dd class="detail">{{ item.content }}</dd>
                        </dl>
                    </div>
                    <img src="images/line.png" class="right_line">
                </div>
            </div>
            <div class="audio_con">
                <audio ref='audio' @play="play" @pause="pause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
            </div>
            <div class="video_con" v-show="isShow">
                <video ref='video' :src="mvUrl" controls="controls"></video>
                <div class="mask" ></div>
                <a href="javascript:;" class="shutoff" @click="hide"></a>
            </div>
        </div>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 官网提供的 axios 在线地址 -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="main.js"></script>
</body>
</html>